<!DOCTYPE html>
<html>
<head>
	<title>New HTML</title>

	<style type="text/css">
		body{
			background-color: #c299ff;
			color: white;
			text-shadow: 1px 1px black;
			font-size: 30px;
		}
	</style>
</head>
<body>
	<center><h1>BLACK HOLE PROJECT</h1></center>
	<hr>
	<center><p>NOT Aloha</p></center>
	<hr>
	<center>
	<a href="/next_page/">NEXT</a>
	<img src="/static/123.gif">
	<img src="/static/123.gif">
	<img src="/static/123.gif">
	<img src="/static/123.gif">
	<img src="/static/123.gif">
	<a href="/">HOME ALOHA</a>
	</center>
	<hr>
	<form>
		<input type="text" name="">
		<input type="submit" name="POST" value="SUBMIT">

	</form>

</body>
</html>